/*  resources  */
.resources-container {
  text-align: center;
  margin-bottom: 7rem; /* added space between cards and footer */

  @media screen and (min-width: $screen-sm){
    text-align: left;
  }
  .resource-item {
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.35);
    display: inline-block;
    color: #55555a;
    margin: 13px 26px 13px 0;
    vertical-align: top;
    height: 460px;
    overflow: hidden;
    text-decoration: none;
    opacity: .6;
    background-image: linear-gradient(30deg, rgba(1, 166, 182, .05) 0%, rgba(47, 132, 140, .1) 50%);
    /* backface-visibility: hidden;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 1;
    transition: .4s; */

      &:hover  {
        text-decoration: none;
        background-color: #01A6B6;
        color: white;
        box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.35);
        z-index: 1;
        /* transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        opacity: 1;
        transition: all 0.4s ease-in-out; */
      }

    }

    .resource-content {
      padding: 25px;
      width: 400px; /* may want to change the width since the cards are going to be wider */
      text-align: left;

      .resource-image {
        height: 150px;
        width: 400px;
        opacity: .8;

        &:hover {
          opacity: .8;
        }
      }

      /* .resource-icon {
        height: 16px;
        width: 16px;
        float:left;
      } this is new for the icon and you may have to manipulate it to get it to look right */

      /* .resource-icon-label {
        font-size: 16px;
        margin-bottom:5px;
      }  this is new for the icon label and you may have to manipulate it to get it to look right */


      /* if you need help aligning these elements, use this site: https://www.w3schools.com/CSS/css_align.asp */
      /* test gulp watch */

      h2.resource-title {
        text-transform: none !important;
        font-size: 26px;
        margin-bottom: 10px;
      }

      .resource-desc {
        font-size: 16px;
        line-height: 20px;
      }

      /* .resource-desc {
        margin-top: 25%;
        color: #FFFFFF;
        font-size: 24px;
        font-weight: 700;
        line-height: 34px;
        padding: 5%;
      } */
    }

}

/* a.resource-item {
  opacity: 1;
  width: 400px; // change the width of the card here
  height: 360px; // change the height of the card here
}
 @media (min-width: 576px) {
  .resource-item {
    flex: 0 0 calc(100% / 1 - 22.5px * 2); } }
@media (min-width: 768px) {
  .resource-item {
    flex: 0 0 calc(100% / 6 - 22.5px * 2); } }
@media (min-width: 992px) {
  .resource-item {
    flex: 0 0 calc(100% / 4 - 22.5px * 2); } }
@media (min-width: 1200px) {
  .resource-item{
    flex: 0 0 calc(100% / 4 - 22.5px * 2); } } */
