/*  resources  */
.resources-container {
  text-align: center;
  margin-bottom: 7rem; /* added space between cards and footer */

  @media screen and (min-width: $screen-sm){
    text-align: left;
  }
  .resource-item {
    box-shadow: 5px -5px 12px 0 rgba(0,0,0,0.35); /*  changed box-shadow to match zone kind of */
    display: inline-block;
    color: $color-greyblue;
    margin: 13px 26px -1rem 0;
    vertical-align: top;
    height: 295px; //may want to change the height of the card here
    overflow: hidden;
    text-decoration: none;
    opacity: .6;

    &:hover  {
      text-decoration: none;
    }
    .resource-content {
      padding: 25px;
      width: 255px; //may want to change the width since the cards are going to be wider
      text-align: left;
      
      .resource-icon {
        height: 16px;
        width: 16px;
        float:left;
        margin-bottom: 5px; //may want to give it some margin space on the bottom of the element 
      } // this is new for the icon and you may have to manipulate it to get it to look right 
      
      .resource-icon-label {
        font-size: 16px;
        margin-bottom:5px; //may want to give it some margin space on the bottom of the element 
      } //this is new for the icon label and you may have to manipulate it to get it to look right
      
      
      // if you need help aligning these elements, use this site: https://www.w3schools.com/CSS/css_align.asp

      h2.resource-title {
        text-transform: none !important;
        font-size: 26px;
        margin-bottom: 10px;
      }
    }
  }
  a.resource-item {
    opacity: 1;
    width: 350px; // change the width of the card here
    height: 400px; //change the height of the card here
  }
}
