/*  resources  */
.resources-container {
  text-align: center;
  margin-bottom: 7rem; /* added space between cards and footer */

  @media screen and (min-width: $screen-sm){
    text-align: left;
  }

  .resource-item {
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.35);
    display: inline-block;
    color: #55555a;
    margin: 13px 26px 13px 0;
    vertical-align: top;
    height: 350px !important;
    overflow: hidden;
    text-decoration: none;

      &:hover  {
        text-decoration: none;
        background-color: #01A6B6;
        color: white;
        box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.35);
      }
    }

    .resource-content {
      padding: 25px;
      width: 300px !important; /* may want to change the width since the cards are going to be wider */
      text-align: left;

      .resource-image img {
        height: 150px !important;
        width: 300px !important;
        opacity: .8;

        &:hover {
          opacity: .8;
        }
      }

      /* if you need help aligning these elements, use this site: https://www.w3schools.com/CSS/css_align.asp */
      /* test gulp watch */

      h2.resource-title {
        text-transform: none !important;
        font-size: 26px;
        margin-bottom: 10px;
      }

      .resource-desc {
        font-size: 16px;
        line-height: 20px;
      }
    }

    a.resource-item {
      opacity: 1;
      width: 300px !important; // change the width of the card here
      height: 350px !important; //change the height of the card here
    }
}
