header {
  display: none;
}

/*  remove top padding for sticky header */
.content-container {
  padding-top: 0;
}

/*  main section */
section.main {
  max-width: 1280px;
  margin: auto;
  padding: 50px;
}

/*  web parts */
.ms-webpartzone-cell {
  padding: 10px !important;
}
.universities-container {
  padding: 0;
  background: none;
}
.news-container {
  height: auto;
  background: none;
}
